/* Reference: */
/* https://www.w3schools.com/cssref/css_selectors.asp */

html { 
	font-size:22px;
	line-height:1.25em;
	margin:0;
	padding:0;
    }

a, a:hover, a:visited {
    text-decoration:underline;
    color:white;
}

/* span.n, span.f, span.w { */
/*     pointer-events: none; */
/* } */


.btn {
    width: 60px;
    height: 20px;
    color:black;
    background: silver;
    border-radius: 5px;
    padding: 1px 3px;
    box-shadow: 1px 1px 1px #000;
    display: none;
    text-align: center;
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
    font-family: arial;
    font-size: 12px;
    line-height:20px;
}

#btnControl {
    display: none;
}

.btn:active ~ div span.n,
.btn:active ~ div span.w,
.btn:active ~ div span.n {
    display:none;
}



.color-primary-0, .firstdiv span.n, .bgdiv span.w, #langchoice span.y{ 
    background-color: #294F6D; /*haupt 1*/
    color: #A97938;            /*gegen 1*/
}
.color-primary-1, .bgdiv span.f { 
    background-color: #486C88  /*haupt schwach(=heller)*/
}

.bgdiv span.f {
    color: #A97938;            /*gegen 1*/
}

.color-complement-0, .firstdiv span.w, .bgdiv span.n, #langchoice span.x { 
    background-color: #A97938; /*gegen 1*/
    color: #294F6D;            /*haupt 1*/
}

.color-complement-1, .firstdiv span.f { 
    background-color: #D3A669   /*gegen schwach(=heller)*/
}
.firstdiv span.f {
        color: #294F6D;		/* haupt 1 */	  
}




body {
    padding:0;
    margin:0;
    width:100%; 
    min-width:300px; 
    font-family: monospace; 
    color:white
}
h1 {
    font-family: monospace; 
    font-size: 1.45em; 
    font-weight: 700; 
    line-height: 1.25em;
    margin:0;
    padding:30px 0 0 0;
}
h2
{ 
    font-family: monospace; 
    font-size: 2.25em; 
    font-style: oblique;
    font-variant: small-caps; 
    font-weight: 700; 
    line-height: 1.25em; 
}
h3
{ 
    font-family: monospace; 
    font-size: 1.75em; 
    font-style: normal;
    font-variant: normal; 
    font-weight: 700; 
    line-height: 1.25em;
    margin:15px 0 5px 0; 
}
h4 { 
    font-family: monospace; 
    font-size: 1.5em;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    line-height: 1.458333333333333em; 
    margin:15px 0 5px 0; 
}
p {
    font-family: monospace; 
    font-size: 30px; 
    font-style: normal;
    font-variant: normal; 
    font-weight: 400; 
    line-height: 1.1rem; 
}
p, ol, ul{ 
    font-size:1rem
}

#resultwrapper {
    width:100%;
    height:5rem;
    position:relative;
}

.result {
    display:none;
}

#Welcome {
    display:inline-block;
}



.result:target,
div:not(:target) + div:not(:target) + div:not(:target) + div:not(:target) + .result
{
    z-index:9999;
    display:inline-block !important;
}

.result {
    position:absolute;
    clear:both;
    border-width:13px;
    border-style:none;
    width:98%;
    padding:0 0 0 2%;
    height:70px;
    text-align:center;
}

.innerresult {
    font-family: monospace; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    display:inline-block;

}
.topwrapper {
    position:relative; 
    margin:0 auto;
    z-index:5;
    height:5rem;
}

#logo {
    width:80%;
    margin:0 auto;
}

#logo h1 a,
#logo h1 a.visited,
#logo h1 a.active,
#logo h1 a.hover {
    text-decoration:none;
    color:rgba(4,32,54,0.9);
    
}

.top {
    position:absolute; 
    float:left; 
    z-index:5;
    bottom:0px;
}
.top form {
    color:black;
    font-size:1rem;
    float:left;
    width:auto;
    margin-bottom:15px;
}
.top form input::placeholder {
    font-size:1rem;
#    color:rgba(255,255,255,0.3);
}

.top form input {
    float:left;
    width:200px;
}
.top form label {
    width:auto;
}
.top form input[type=radio] {width:0%;float:right;}

.top form input[type=text],
.top form input[type=text]:required,
.top form input[type=text]:required:invalid
{
    border:none !important; 
    outline:none !important;
    box-shadow: none !important;
    background-color:transparent;
    color:white; 
    font-family: monospace; 
    font-size: 1.4rem; 
    margin:0px;
    float:left;
    z-index:40;
    left:3px;
    padding-left:20px;
    width:100%;
}

.top form input[type=text]:focus {
    color:rgba(255,255,255,1);
}

.top form input[type=text]:not(:focus) {
    color:rgba(255,255,255,0);
}
.top form input[type=text]:focus ~ div div
{ 
    visibility:hidden;
}

.top form input[type=text]:not(:focus) ~ div div
{ 
    visibility:visible;
}

.top form input {
    z-index:20;
    position:relative; 
    margin:10px 0 0 20px;
    padding:0px; 
    float:left; 
}
.bgdiv { 
    font-size:1.4rem;
    z-index:10;
    position:absolute;
    border:none; 
    width:auto; 
    float:left; 
    visibility:visible;
    bottom:0px;
}
#lx {
    bottom:0.5rem;
    left:-40px;
    z-index:100;
}
#ly {
    top:4.3rem;
    left:-40px;
    z-index:100;
}

#lx, #ly {
    position: absolute;
}


.firstdiv { 
    border:none; 
    padding:0px; 
    float:left; 
    font-size:1.4rem;
    line-height:50px;
}

.bgdiv div,
.top form input[type="text"]:focus + div div,
.top form input[type="text"]:hover + div div,
.bgdiv div:hover,
.bgdiv:hover + div {    
    border-top: 3px solid rgba(41, 80, 109, 1);
    border-left: 3px solid rgba(41, 80, 109, 1);
    border-right: 3px solid rgba(41, 80, 109, 1);
    position: relative;
    padding: 0.9rem;
    line-height: 58px;
}

.top form input[type="text"]:not(:focus) + div div,
.top form input[type="text"]:not(:hover) + div div,
.bgdiv div:not(:hover),
.bgdiv:not(hover) + div {
    border-left: 3px solid rgba(41, 80, 109, 1);    
    border-top: 3px solid rgba(41, 80, 109, 1);
    border-right: 3px solid rgba(41, 80, 109, 1);
    position: relative;
    top:11px;
    line-height: 58px;
}

.firstdiv > div {
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;    
    position: relative;
    padding: 10px 20px 13px 20px;
    line-height: 58px;
}


.firstdiv div:first-child {
}

#freetrdiv div {
    border-left: 3px solid;
    border-right: 3px solid;
}

.firstdiv div, .bgdiv div {
    float: left;
}
#freetrdiv div {
    float: right;
}

.translation {
    float:left;
    color: rgba(170, 121, 57, 0.7);
    font-style:oblique;
    clear:both;
}
#freetrdiv {
    border:none; 
    width:50%;
    margin:0;
    padding:0;
    float:right; 
    text-align:right; 
    font-size:1.3rem;
    line-height:75px;
}

.bottomwrapper {
    margin:0 auto;
}

.bottom {
    position:relative; 
    width:80%;
    z-index:5;
    height:160px;
}
#impressumwrapper {
    bottom:0px;
    position:absolute;
    z-index:99999;
}

.nav {

}

.next {
    position:relative;
    width:250px;
    letter-spacing: 0.1rem;
    text-align:center;
    font-family:sans !important;
    top:46px;
}

.next span.nav ,
.next span.nav a{
    color: rgba(255,255,255,1);
}

.dotsym {font-size:1rem!important;}
.next a { 
    text-decoration:none;
    color: rgba(255,255,255,0.2);
}
.next a:hover {
    color:rgba(255,255,255,1)
}

#impressum {
    color:white;
    padding:0 0 0 2%;
    margin:0 auto;
    clear:both;
    width:80%;
    float:left;
}

.showimpressum,
.showimpressum2 {    
    display:none;
    background-color:#294F6D;
}


.impressumbutton:focus ~ .showimpressum,
.impressumbutton2:focus ~ .showimpressum2,
.showimpressum:hover,
.showimpressum2:hover
{    
    display:block;
}

.newsearch {
    position:relative;
    top:292px;
    color:rgba(255,255,255,0.2);
    font-size:2rem;
}

.newsearch:hover {
    position:relative;
    top:292px;
    color:rgba(255,255,255,1);
}

.dbg {
    color:white;
    padding:100px 0 0 20px;
    clear:both;
    margin:0 auto;
    width:700px;
    position:absolute;
    top:370px;
    font-size:0.5em;
    line-height:1.5em;
    text-align:left;
    left:-370px;
    /* display:none; */
}
blockquote {
    font-family: monospace; 
    font-size: 37px; 
    font-style: normal;
    font-variant: normal; 
    font-weight: 400; 
    line-height: 49px; 
}
pre {
    font-family: monospace; 
    font-size: 24px; 
    font-style: normal;
    font-variant: normal; 
    font-weight: 400; 
    line-height: 49px; 
}

p.footer, p.footer a, p.footer a:active, p.footer a:hover, p.footer a:visited  { 
    font-size:0.7rem;
    color:#708DA4;
    line-height:0.7rem;
    margin: 0 0 20px 0;
    text-decoration:none;
}
p.impressum { font-size:1rem; }


.points {
    float:right;
    line-height:0.5em;
    font-size:.5rem;
    margin: 5px 0 10px 0;
    display:none;
}

.explanation {
        float:left;
    line-height:0.5em;
    font-size:.5rem;
    clear:both;
}

.stars {
    float:left;
    line-height:0.75em;
    font-size:1rem;
    margin: 5px 0 10px 0;
    display:inline-block;
    clear:both;
}

.tooltip {
    position:relative;
    display: inline-block;
    white-space:nowrap;
    cursor:pointer;    
}

.firstdiv div div.tooltip {
/*    border-bottom:2px dotted rgba(0,0,0,0); */
}


.firstdiv div:hover div.tooltip {
/*    border-bottom:2px dotted; 
    transition:border-color .3s ease-in-out;     */
}

.stats {
    font-size: 0.5rem;
    line-height: 1rem;
}
.tooltip:not(:hover) .tooltiptext {
        visibility:hidden;
}
.tooltip ~ .tooltiptext {
    visibility:hidden;    
    line-height:1.3em;
    font-size:0.5em;    
    background-color:rgba(140, 140, 140, 0.8);
    color:#fff;
    text-align:center;
    padding: 15px;
    border-radius:6px;
    position:absolute;
    z-index:10000;
    top:65px;
    right:5%;
    width:75%
}

.tooltip:hover ~ .tooltiptext {
    visibility:visible;
}
