<div id="{}" class="option{} result color-complement-0">
  <div class="innerresult">
      <div class="topwrapper color-complement-0">
	<div class="top color-complement-0">

	  <form action="{}" method="POST" class="color-complement-0">
	    <br><label for="input{}" class="newsearch">^</label>
	    <input type="text" placeholder="en" value="" name="query" id="input{}" pattern="[a-zA-Z]{{2,25}}" {}>{}
	    <div class="bgdiv color-complement-0">
	      <div>{}</div>
	    </div>
	  </form>
	</div>
      </div>
      <div class="bottomwrapper color-primary-0">
	<div class="bottom color-primary-0">
	  <div class="firstdiv">
	    {}
	  </div>
	</div>
      </div>
  </div>
  {}
</div>
